body{
        background-color: beige;
        background: url('bg1.webp') no-repeat center center/cover;
        height: 400px;
        width: 70%;
}
.left{
    display: inline-block;
    position: absolute;
    height: 200px;
    width: 200px;
    margin: 20px;
}
.left img{
    height: 200px;
    width: 200px;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
